# basics
pandas 
numpy 
# dataprep
# mlflow
# mlflow[extras]
# openpyxl
# lxml

scipy
statsmodels

# sk
scikit-learn
imbalanced-learn
category_encoders
lightgbm
xgboost
# shap
# evidently

# viz
matplotlib
seaborn
plotly
missingno


# web
requests
# flask
bs4
kaggle


# quality
flake8
pytest
pylint
black
black[jupyter]
mypy
coverage

# tools
Ipython
# voila
jupyter
notebook
jupyterlab
ipykernel
jupyter_contrib_nbextensions
jupytext
ipywidgets
# session-info
pandarallel

# build
wheel
setuptools

# # nlp
# nltk
# wordcloud
# spacy
# transformers
# gensim
# glove
# word2vec


# # deep learning
tensorflow
scikeras
# tensorboard
# torch 
# torchvision 
# torchaudio 
# # --extra-index-url https://download.pytorch.org/whl/cpu


# # Image
# Pillow
# opencv-python